.date{
    
    width: 33.33%;
    margin-left: 33.33%;

    .row{
            display: flex;
align-items: center;
  justify-content: space-around;
    }
    .ng-daterangepicker{
        width: 100%;
    }
    
}
h1{
    color: #087f5b;
    font-size: 15px;
    text-align: center;
    padding: 15px;
}






